<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="Gemtek_SFCS" connectionString="Data Source=GEMTEK_SFCS;Persist Security Info=True;User ID=VN;Password=VN#sfcs;Unicode=True" />
		<add name="Gemtek_SCC" connectionString="Data Source=GEMTEK_SCC;Persist Security Info=True;User ID=SCC;Password=scc01;Unicode=True" providerName="System.Data.OracleClient" />
		<add name="NOKIA_VN" connectionString="Persist Security Info=False;User ID=sa;Password=Gemtek@123;Initial Catalog=ONT1.4.1;MultipleActiveResultSets=true;Data Source=10.41.200.211" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="sftpHost" value="10.41.9.2"/>
		<add key="sftpNokia" value="/BOSA/NOKIA/"/>
		<add key="sftpScc" value="/BOSA/SCC/"/>
		<add key="sftpUsername" value="om"/>
		<add key="sftpPassword" value="Gemtek!2022"/>
		<add key="sftpPort" value="22" />
		<add key="localFilePath_Nokia" value="\BOSA\NOKIA\"/>
		<add key="localFilePath_Scc" value="\BOSA\SCC\"/>
		<add key="localFilePath_Bosa" value="\BOSA\"/>
		<add key="localFilePath_Backup" value="\BOSA_BACKUP\"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>